<div class="container" style="width: 56%;">

  <div class="container forgotpassword" style="height: 80px;"></div>


<h2 class="title-pp">Reenviar instruções de confirmação</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reenviar instruções de confirmação" %>
  </div>
<% end %>

</div>
