
<!-- navbar -->
<div class="navbar-fixed-top">


<nav class="navbar-wb">

  <!-- use nav instead of div for navbar - html 5 -->
  <!-- logo -->

  <a href="/" class="navbar-wb-brand fas fa-universal-access">
    </a>
  <!-- fim logo -->

 <!--  SEARCH BAR START -->

  <div id="custom-search-input" class="hidden-xs hidden-sm">
    <div class="input-group col-md-12 hidden-xs hidden-sm">
      <%= form_tag searches_index_path, id: "form-control-text", method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Type a keyword" %>

      <span class="input-group-btn">
        <button class="btn btn-info btn-lg" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>

       <% end %>
    </div>
  </div>


    <!--   <input type="text" class="form-control input-lg" placeholder="Procure empresas" /> -->


  <!--  <div id="custom-search-input" class="hidden-xs hidden-sm">
    <div class="input-group col-md-12 hidden-xs hidden-sm">
      <input type="text" class="form-control input-lg" placeholder="Procure empresas" />
      <span class="input-group-btn">
        <button class="btn btn-info btn-lg" type="button">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
  </div> -->

<!--   SEARCH BAR END -->

  <!-- Align right -->
  <div class="navbar-wb-right hidden-xs hidden-sm">
    <!--       links navbar -->
    <a href="#" class="navbar-wb-item navbar-wb-link">LINK 1</a>
    <a href="#" class="navbar-wb-item navbar-wb-link">LINK 2</a>
 <!--    fim links navbar -->

 <!-- dropdown with avatar -->
    <div class="navbar-wb-item">
      <div class="dropdown">

       <% if !user_signed_in? %>
         <i class="fas fa-address-card avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
       <% else %>
          <i class="fas fa-address-card avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
       <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wb-dropdown-menu">
          <% if user_signed_in? %>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="/users/edit">My Profile</a></li>
            <li><a data-method="delete" href="/users/sign_out">Log Out</a></li>
          <% else %>
            <li><a data-method="get" href="/users/sign_in">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!-- fim dropdown with avatar -->

<!--   navbar mobile -->
  <div class="navbar-wb-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wb-dropdown-menu">

        <li>


  <div id="custom-search-input-dropdown"">
    <div class="input-group col-md-12">
      <%= form_tag searches_index_path, id: "form-control input-lg", method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Type a keyword" %>
      <% end %>

      <span class="input-group-btn">
        <button class="btn btn-info" type="submit">
          <i class="glyphicon glyphicon-search"></i><%= submit_tag "", name: nil, id: "button-search" %>
        </button>
      </span>
    </div>
  </div>


        </li>
        <li><a href="#" class="navbar-wb-item navbar-wb-link">LINK 1</a></li>
        <li><a href="#" class="navbar-wb-item navbar-wb-link">LINK 2</a></li>
        <% if user_signed_in? %>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
            <li><a data-method="delete" href="/users/sign_out">Log Out</a></li>
          <% else %>
            <li><a data-method="get" href="/users/sign_in">Log In</a></li>
          <% end %>
      </ul>
    </div>
  </div>

</nav>

</div>
