<div class="wrapper">

  <div class="container home-banner" style="margin: 0; padding: 0; width: 100%;">
    <%= render "carousel" %>
    <%= render "home-search" %>
  </div>


  <div class="container" style="height: 100vh;">
    <%= render "steps" %>
  </div>

  <div class="container" id="about">
     <%= render "about"%>
  </div>


  <div class="container" id="values">
    <%= render "values" %>
  </div>

</div>
