<div class="graph-container">
  <dl>
    <dt>Avaliações</dt>
    <dd class="percentage percentage-<%= @company.answer_1_average_score %>">
      <span class="text-graph">
        Funcionarios Diversos
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_2_average_score %>">
      <span class="text-graph">
        Lideres Diversos
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_3_average_score %>">
      <span class="text-graph">
        Ambiente Seguro
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_4_average_score %>">
      <span class="text-graph">
        Acolhimento
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_5_average_score %>">
      <span class="text-graph">
        Acesso a oportunidades
      </span>
    </dd>
    </dd>
      <dd class="percentage percentage-<%= @company.final_rating %>">
      <span class="text-graph">
        Avaliação final
      </span>
    </dd>
  </dl>
</div>
