<div class="graph-container">
  <dl>
    <h4>Satisfação Geral: <c style="color: #FFBE33;"><%= @company.final_rating %>%</c></h4>
    <dd class="percentage percentage-<%= @company.answer_1_average_score %>">
      <span class="text-graph">
<<<<<<< HEAD
        Diversidade de Funcionários <br>
=======
        Funcionários Diversos
>>>>>>> 8fc6542112fe2cfdb875b55ee4d9572433797746
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_2_average_score %>">
      <span class="text-graph">
<<<<<<< HEAD
       Diversidade na Liderança <br>
=======
       Líderes Diversos
>>>>>>> 8fc6542112fe2cfdb875b55ee4d9572433797746
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_3_average_score %>">
      <span class="text-graph">
<<<<<<< HEAD
        Liberdade de Expressão <br>
=======
        Ambiente Seguro
>>>>>>> 8fc6542112fe2cfdb875b55ee4d9572433797746
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_4_average_score %>">
      <span class="text-graph">
<<<<<<< HEAD
        Acolhimento <br>
=======
        Acolhimento
>>>>>>> 8fc6542112fe2cfdb875b55ee4d9572433797746
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_5_average_score %>">
      <span class="text-graph">
<<<<<<< HEAD
        Igualdade de Oportunidades <br>
=======
        Acesso a oportunidades
>>>>>>> 8fc6542112fe2cfdb875b55ee4d9572433797746
      </span>
    </dd>
  </dl>
</div>
