<div class="graph-container">
  <dl>
    <h4>Satisfação Geral: <c style="color: #FFBE33;"><%= @company.final_rating %>%</c></h4>
    <dd class="percentage percentage-<%= @company.answer_1_average_score %>">
      <span class="text-graph">
        Funcionários Diversos
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_2_average_score %>">
      <span class="text-graph">
       Líderes Diversos
      </span>
    </dd>
    <dd class="percentage percentage-<%= @company.answer_3_average_score %>">
      <span class="text-graph">
        Ambiente Seguro
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_4_average_score %>">
      <span class="text-graph">
        Acolhimento
      </span>
    </dd>
      <dd class="percentage percentage-<%= @company.answer_5_average_score %>">
      <span class="text-graph">
        Acesso a oportunidades
      </span>
    </dd>
  </dl>
</div>
