<body>

<div class="container" style="height: 100vh; margin: 10vh auto;">
  <h1 class="company"><%= @company.name %></h1>
    <div class="company-profile">

      <div class="company-blurb">
        <h4 class="central-title"><mark>About <%= @company.name %></mark></h4>
        <p><%= @company.description %></p>
      </div>

        <%= render 'graph' %>

      <div class="reviews">
        <h4 class="central-title"><mark>Reviews</mark></h4>
        <% if @company.reviews.where(user_id: current_user).empty? %>
          <%= link_to new_company_review_path(@company) do %>
            <i class="far fa-edit" style="padding-top: 15px;"></i> Faça sua própria avaliação
          <% end %>
        <% end %>


        <% @reviews.each do |review| %>
        <div class="review">
          <p><strong>Pros:</strong> <%= review.pros %> </p>
          <p><strong>Contras:</strong> <%= review.cons %> </p>
          <p id="review-details"><%= review.user_position %> || <%= review.user_area %> ||Score: <%= review.weighting  %></p>
          <%= link_to company_review_votes_path(company_id: @company, review_id: review, vote_type: 'upvote'),
          method: 'post', remote: true do%>
            <% if review.votes.where(user_id: current_user).first.nil? %>
                <i class="far fa-thumbs-up vote upvote" id="upvote"></i>
              <% else %>
                <i class="<%= review.votes.where(user_id: current_user).first.vote_type == 'upvote' ? "fas   fa-thumbs-up vote upvote" : "far fa-thumbs-up vote upvote"%>" id="upvote"></i>
              <% end %>
            <% end %> |
          <%= link_to company_review_votes_path(company_id: @company, review_id: review, vote_type: 'downvote'),
          method: 'post', remote: true do%>
            <% if review.votes.where(user_id: current_user).first.nil? %>
              <i class="far fa-thumbs-down vote downvote" id="downvote"></i>
            <% else %>
              <i class="<%= review.votes.where(user_id: current_user).first.vote_type == 'downvote' ? "fas fa-thumbs-down vote downvote" : "far fa-thumbs-down vote downvote" %>" id="downvote"></i>
            <% end %>
          <% end  %>
        </div>
        <% end %>
      </div>
    </div>
</div>
<div style="height: 70px;">
</div>
</body>
