<h1>Companies#Show</h1>
<h2><%= @company.name %></h2>
<%= link_to "Review #{@company.name}", new_company_review_path(@company)  %>
<h3>Reviews</h3>
<% @company.reviews.each do |review| %>
 <p><%= review.content %> </p>
 <p><%= review.user_position %> || <%= review.user_area %> ||Score: <%= review.weighting  %></p>
 <p><%= link_to "Upvote", company_review_votes_path(:company_id => @company, :review_id => review, :vote_type => 'upvote'), method: 'post', remote: true%></p>
 <p><%= link_to "Downvote", company_review_votes_path(:company_id => @company, :review_id => review, :vote_type => 'downvote', method: 'post', remote: true)%></p>
<% end %>

