<h1>Companies#Show</h1>
<div class="container">
  <h1><%= @company.name %></h2>
    <%= link_to "Review #{@company.name}", new_company_review_path(@company)  %>
    <div class="company-profile">
      <div class="company-blurb">
        <h3>About <%= @company.name %></h2>
        <p><%= @company.description %></p>
      </div>
        <%= render 'graph' %>
      <div class="reviews">
        <h3>Reviews</h3>
        <% @company.reviews.each do |review| %>
        <div class="review">
          <p><%= review.content %> </p>
          <p><%= review.user_position %> || <%= review.user_area %> ||Score: <%= review.weighting  %></p>
          <p><%= link_to "Upvote", company_review_votes_path(company_id: @company, review_id: review, vote_type: '  upvote'),
          method: 'post', remote: true%></p>
          <p><%= link_to "Downvote", company_review_votes_path(company_id: @company, review_id: review, vote_type: '  downvote'),
          method: 'post', remote: true%></p>
        </div>
        <% end %>
      </div>
    </div>
</div>
