<section class="container-results">

  <div class="header-results">
    <h1> <%= @companies.size %> resultados para <strong><%= params[:query] %></strong> em Empresas:</h1>
    <!-- <p>Total Results: X</p> -->
  </div>

  <ul>
    <% @companies.each do |result| %>
      <li class="container-cards">

          <h2 class="link-result"><%= link_to result.pg_search_highlight.html_safe, company_path(result) %></h2>

          <i class="avatar-company far fa-building"></i>

          <p class="total-reviews"><%= result.reviews.count %> avaliações</p>

        <p class="rating-company">
          <% (result.final_rating / 20).times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% if (result.final_rating % 20) > 0 %>
            <i class="fas fa-star-half"></i>
          <% end %>
        </p>

      </li>
    <% end %>
  </ul>

<%= paginate @companies %>
</section>
