<% @results.each do |result| %>

  <div class="message">
    <div class="avatar-large">
      <%= image_tag 'carousel2.jpg' %>
    </div>

    <div class="message-name">
      <h4>Empresa</h4>
      <h3><%= link_to result.company.name, company_path(result.company_id) %></h3>
    </div>

    <div class="message-body">

      <h6 style="">O que as pessoas acham da <strong><%= result.company.name %>:</strong></h6>
      <p style="margin: 10px 0 0 0;"><%= result.pg_search_highlight.html_safe %></p>
      <p style="font-size: 1.3rem;"> | escrito em: <%= result.created_at.to_date.strftime("%d-%m-%Y") %></p>

    </div>

  </div>

<% end %>
