<section class="container-results">

  <div class="header-results" style="">
    <h1> <%= @results.size %> resultado(s) para <strong><%= params[:query] %></strong> em Avaliações:</h1>
  </div>

  <ul>
    <% @results.each do |result| %>
      <li class="container-cards" style="">

        <i class="avatar-result-user fa fa-user"></i>

        <h2 class="message-title" style="color: #432B76"><em><%= result.user_position %></em> na área <em><%= result.user_area %></em>.</h2>

        <div class="message-body">

          <p class="user-review"><%= result.pg_search_highlight.html_safe %></p>

          <p class="created-at"> <%= link_to "Veja Mais", company_path(result.company_id) %></p>

        </div>

        <p class="rating-user">
          <% (result.company.final_rating / 20).times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% if (result.company.final_rating % 20) >= 3 %>
            <i class="fas fa-star-half"></i>
          <% end %>
          <%= result.company.final_rating.to_f / 20 %>
        </p>

      </li>
    <% end %>
  </ul>

<%= paginate @results %>
</section>
