<div class="container" style="margin: 10vh auto; height: 100%;">

  <% if @results.empty? && @companies.empty? %>

    <p>Sua pesquisa - <%= params[:query] %> - não retornou nenhum resultado. Por favor tente outra palavra-chave.</p>

  <% elsif @results.empty? %>

    <%= render 'companies_result' %>

  <% elsif @companies.empty? %>

    <%= render 'reviews_result' %>

  <% else %>

    <%= render 'full_result' %>

  <% end %>

</div>

   <%= paginate @companies %>
