
<!--  <%= form_tag searches_index_path, method: :get do%>
    <%= text_field_tag :query,
    params[:query], id: "searchbar", placeholder: "Type a keyword"%>
    <%= submit_tag "Search" %>
    <% end %> -->
<h3> Results for <strong><%= params[:query] %></strong></h3>
<% if @results.empty? && @companies.empty? %>
  <p>Sua pesquisa -
    <%= params[:query] %> - não retornou nenhum resultado. Por favor tente outra palavra-chave.</p>
  <% elsif @results.empty? %>
    <% @companies.each do |result| %>
      <div>
        <p>
          <%= link_to result.name, company_path(result) %>
        </p>
      </div>
      <% end %>
  <% else %>
    <% @results.each do |result| %>
      <div>
        <h4>Empresa:</h4>
        <p>
          <%= link_to result.company.name, company_path(result.company_id) %>
        </p>
      </div>
      <div>
        <h4>Avaliações:</h4>
        <p>
          <%= result.content %>
           | escrito em: <%= result.created_at.to_date.strftime("%d-%m-%Y") %>
        </p>
      </div>
      <% end %>
  <% end %>
