<h1>New review for <%= @company.name %></h1>
<%= current_user.email %>
<%= simple_form_for [@company, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.input :user_area %>
   <%= f.input :user_position %>
   <%= f.input :content %>
    <%= f.simple_fields_for :answer do |a| %>

    <% collection = [['N/A', '3'], ['Strongly Disagree', '1'], ['Disagree', '2'], ['Neutral', '3'], ['Agree', '4'], ['Strongly Agree', '5']] %>
      <%= a.input :answer_1, as: :radio_buttons, collection: collection, label: "Question 1 goes here" %>
      <%= a.input :answer_2, as: :radio_buttons, collection: collection, label: "Question 2 goes here" %>
      <%= a.input :answer_3, as: :radio_buttons, collection: collection, label: "Question 3 goes here" %>
      <%= a.input :answer_4, as: :radio_buttons, collection: collection, label: "Question 4 goes here" %>
      <%= a.input :answer_5, as: :radio_buttons, collection: collection, label: "Question 5 goes here" %>
      <%= a.input :minority, as: :radio_buttons, collection: [["Yes", true], ["No", false]], label: "Are you part of a minority?" %>
   <% end  %>
   <%= f.button :submit %>
<% end %>
