<div style="height: 70px;"></div>
<br>
<div class="container" style="padding-bottom: 32px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="review-form">
        <h4>Sua avaliação para:</h4> <h3 class="title-fo"><%= @company.name %></h3>

        <%= simple_form_for [@company, @review] do |f| %>
        <% if @review.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @review.errors.full_messages.each do |message| %>
           <!--  <li><%= message %></li> -->
            <% end %>
          </ul>
        </div>
        <% end %>


        <%= f.input :user_position, label: "Último cargo ocupado:" %>
        <%= f.input :user_area, label: "Área ou departamento:" %>
        <%= f.input :content, label: "Deixe sua avaliação:", placeholder: "Escreva os pontos positivos e a melhorar sobre inclusão e diversidade, bem como suas recomendações aos líderes dessa empresa.


Reservamo-nos no direito de excluir comentários desagregadores ou que estejam de desacordo com os valores da WeBelong.", input_html: { rows: 8} %>

        <br>
        <%= f.simple_fields_for :answer do |a| %>
          <% collection = [['N/A', '3'], ['Péssimo', '1'], ['Ruim', '2'], ['Neutro', '3'], ['Bom', '4'], ['Excelente', '5']] %>
          <div>
          <%= a.input :answer_1, collection: collection, label: '<a data-toggle="popover" data-trigger="hover" title="Diversidade de Funcionários"  data-content="A empresa tem um quadro de funcionários diversos que reflete a realidade da sua região.">DIVERSIDADE DE FUNCIONÁRIOS</a>'.html_safe, selected: 'Não se aplica ou Não gostaria de avaliar' %>
        </div>
        <div>
          <%= a.input :answer_2, collection: collection, label: '<a data-toggle="popover" data-trigger="hover" title="Diversidade na Liderança" data-content="A empresa possui diversidade no quadro de líderes (com poder de decisão) compatível com a realidade de sua localidade.">DIVERSIDADE NA LIDERANÇA</a>'.html_safe, selected: 'N/A' %>
          </div>
          <%= a.input :answer_3, collection: collection, label: '<a data-toggle="popover" data-trigger="hover" title="Liberdade de Expressão" data-content="A empresa oferece ambiente seguro para que seus funcionários se expressem livremente.">LIBERDADE DE EXPRESSÃO</a>'.html_safe, selected: 'N/A' %>
          <%= a.input :answer_4, collection: collection, label: '<a data-toggle="popover" data-trigger="hover" title="Acolhimento" data-content="A empresa acolhe e respeita seus funcionários, independentemente das suas características, credos, ou convicções pessoais.">ACOLHIMENTO</a>'.html_safe, selected: 'N/A' %>
          <%= a.input :answer_5, collection: collection, label: '<a data-toggle="popover" data-trigger="hover" title="Igualdade de Oportunidades" data-content="A empresa oferece oportunidades iguais (promoções, desenvolvimento, feedbacks, etc.), independentemente das  características pessoais de seus funcionários.">IGUALDADE DE OPORTUNIDADES</a>'.html_safe, selected: 'N/A' %>
        <% end  %>
        <%= f.button :submit, "Enviar Avaliação", class: "button button-w bg-1 button--border-thin button--round-s" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
