<div style="height: 70px;"></div>
<br>
<div class="container" style="padding-bottom: 32px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="review-form">
        <h4>Nova avaliação para:</h4> <h3><%= @company.name %></h3>

        <br>
        <%= simple_form_for [@company, @review] do |f| %>
        <% if @review.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @review.errors.full_messages.each do |message| %>
           <!--  <li><%= message %></li> -->
            <% end %>
          </ul>
        </div>
        <% end %>


        <%= f.input :user_area, label: "Sua área ou departamento mais recente nesta empresa:" %>
        <%= f.input :user_position, label: "Sua posição ou cargo mais recente nesta empresa:" %>
        <%= f.input :content, label: "Fale aqui sobre como esta empresa trata o assunto Diversidade e Inclusão no dia-a-dia:", placeholder: "Escreva os pontos positivos e a melhorar, bem como suas recomendações aos líderes dessa empresa." %>
        <p style="font-size: 10px; margin-top: -16px;">Reservamo-nos no direito de excluir comentários desagragadores ou que estejam de desacordo com os valores da WeBelong.</p>
        <%= f.simple_fields_for :answer do |a| %>
          <% collection = [['Não se aplica ou Não gostaria de avaliar', '3'], ['Discordo Fortemente', '1'], ['Discordo', '2'], ['Não Concordo nem Discordo', '3'], ['Concordo', '4'], ['Concordo Fortemente', '5']] %>
          <%= a.input :answer_1, collection: collection, label: "Sua empresa tem um quadro de funcionários diversos que reflete a realidade do local onde ela está localizada?", selected: 'Não se aplica ou Não gostaria de avaliar' %>
          <%= a.input :answer_2, collection: collection, label: "Sua empresa tem pessoas no quadro de líderes (com poder de decisão) que refletem a realidade do local onde ela está localizada?", selected: 'Não se aplica ou Não gostaria de avaliar' %>
          <%= a.input :answer_3, collection: collection, label: "Seu ambiente de trabalho é seguro para que você se expresse livremente?", selected: 'Não se aplica ou Não gostaria de avaliar' %>
          <%= a.input :answer_4, collection: collection, label: "Sua empresa lhe acolhe e respeita, independentemente das suas características ou convicções pessoais?", selected: 'Não se aplica ou Não gostaria de avaliar' %>
          <%= a.input :answer_5, collection: collection, label: "Sua empresa oferece oportunidades (promoções, desenvolvimento, feedbacks...), independentemente das suas características pessoais?", selected: 'Não se aplica ou Não gostaria de avaliar' %>
        <% end  %>
        <%= f.button :submit, "Enviar Avaliação", class: "button button-w bg-1 button--border-thin button--round-s" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
