<h1>New review for <%= @company.name %></h1>
<%= current_user.email %>
<%= simple_form_for [@company, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.input :user_area %>
   <%= f.input :user_position %>
   <%= f.input :content %>
   <%= f.button :submit %>
<% end %>
