<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Diversidade, Inclusão, Pertencimento, Avaliar, Pertencer, D&I, Empresas">
    <title>WeBelong</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <body>
    <!--Flash views for user authentication -->
    <%= render 'shared/navbar' %>
    <div class="alert"></div>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
